.player-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1b1b1b;
    padding: 10px;
}

.player {
    color: white;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player audio {
    width: 100%;
}