/* DOCUMENT */

* {
  box-sizing: border-box;
}

#root {
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  text-align: center;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

/* APP AREA */

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

/* NAVBAR */

.navbar {
  background-color: #1e1e20;
  padding: 20px 0;
  box-shadow: 0px 4px 14px rgba(174, 72, 206, 0.6);
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
}

.navbar-logo {
  width: 125px;
}


/* ShowList Display */

.show-list {
  margin: 20px 20px 30px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.show-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  padding: 10px;
}

.show-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.show-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.show-description {
  font-size: 14px;
  margin-bottom: 10px;
}

.show-seasons {
  font-size: 12px;
  color: gray;
}

.load-more-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.load-more-button {
  /* I need to adjust this button's styles later */
}



/* FOOTER */

.footer {
  background-color: #1e1e20;
  padding: 20px 0;
  box-shadow: 0px -4px 14px rgba(174, 72, 206, 0.9);
  text-align: center;
}

.footer-extra {
  font-size: 13px;
}

/* LOADING SPINNER */

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}